 #container{
       background-color: white;
       height: 520px;
       width: 700px;
margin-top: 20px;
       margin-left: 270px;
       float: left;
       border: 1px solid #dda83f;
   }

      #formHeading{
           float: left;
           width: 700px;    
           text-align: center;
           border-bottom: 1px solid #dda83f;
       }

       #formHeading h1{
         margin-bottom: 0px;
         color: #dda83f;
     }

     #formHeading p{
         margin-top: 2px;
         color: #dda83f;
         font-size: 20px;
     }
/* ----------------------------------------------------------------------*/

 #nameBox,
 #emailBox,
 #passwordBox,
 #confirmPasswordBox{
      margin-top:10px;
      margin-bottom: 1px;
      float: left;
      width: 700px;    

 }

 #nameBox label,
 #emailBox label,
 #passwordBox label,
 #confirmPasswordBox label{
     margin-left: 10%;
     margin-bottom: 5px;
    font-size: 23px;
    color: #dda83f;
 }

 #nameBox input,
 #emailBox input,
 #passwordBox input,
 #confirmPasswordBox input{
     font-size: x-large;
     display: block;
     width: 200%;
     margin-top: 1px;
 }

/* ----------------------------------------------------------------------*/

 #signup{
     margin-top: 5px;
     margin-left: 10%;

     font-size: x-large;
     text-align: center;
     width: 80%;
     height: 40px;
     color: white;
     background-color: #dda83f;
     cursor: pointer;

 }


 #signup:hover{
     background-color: #dda83f;

 }

/* ----------------------------------------------------------------------*/

#login{
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
}


 #login a{
     text-decoration: none;
     color: #dda83f;
 }

 #login a:hover{
     text-decoration: underline;
 }